.page-clips {
  padding: 1rem;

  text-align: center;

  min-height: 65vh;

  section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    margin-top: 2rem;

    div {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    video {
      width: 20rem;
      height: 20rem;
    }
  }
}